.button {
    -fx-text-fill: #222;
    -fx-font-weight: bold;
    -fx-background-color: #fff;
    -fx-background-insets:1;
	-fx-border-width: 1;
	-fx-border-color: #333;
	-fx-border-insets: 2;
	-fx-min-width: 0;
}

#numeric{
    -fx-text-fill: #222;
    -fx-font-weight: bold;
    -fx-background-color: yellow;
	-fx-border-width: 1;
	-fx-border-color: #333;
	-fx-border-insets: 2;
}
.button:hover {
        -fx-text-fill: #ccc;
    -fx-background-color: #222;
	-fx-border-color: #333;
    -fx-cursor:hand;
}

#numeric:hover{
    -fx-text-fill: #ccc;
    -fx-background-color: #222;
	-fx-border-color: #333;
    -fx-cursor:hand;
}


.grid{
	-fx-background-color:black;
	-fx-halignment:center;
	-fx-valignment:center;
}